<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="DEBUG" monitorInterval="60">
	<properties>
		<property name="APP_NAME">zy_news</property>
	</properties>
	<loggers>
		<root level="DEBUG">
			<appender-ref ref="Error" />
			<appender-ref ref="Debug" />
			<appender-ref ref="Console" />
		</root>
		<!-- 排除的日志-->
		<logger name="org.apache.catalina.core.ContainerBase" level="OFF" />
		<logger name="org.springframework.web.servlet" level="OFF" />
		<logger name="org.springframework.web.servlet.mvc.support" level="OFF" />
		<logger name="org.springframework.web.servlet.mvc.annotation" level="OFF" />
	</loggers>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{yyyy/MM/dd HH:mm:ss} %level Loc:%c Lines:%L Msg:%msg%xEx%n" />
		</Console>
		<RollingFile name="Debug"
			fileName="${sys:maokoRun.path}/logs/${APP_NAME}.log"
			filePattern="${sys:maokoRun.path}/logs/${APP_NAME}_debug-%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{yyyy/MM/dd HH:mm:ss} %level Loc:%c Lines:%L  Msg:%msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="100 MB" />
			<DefaultRolloverStrategy>
				<Delete basePath="${sys:maokoRun.path}/logs" maxDepth="1" >
				<IfFileName glob="*/${APP_NAME}_debug*.log" />
				<IfLastModified age="30d"/><!-- 保存时间限制-->
			</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="Error"
			fileName="${sys:maokoRun.path}/logs/${APP_NAME}_error.log"
			filePattern="${sys:maokoRun.path}/logs/${APP_NAME}_error-%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="Error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{yyyy/MM/dd HH:mm:ss} %level Loc:%c Lines:%L  Msg:%msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="100 MB" />
			<DefaultRolloverStrategy>
				<Delete basePath="${sys:maokoRun.path}/logs" maxDepth="1" >
				<IfFileName glob="*/${APP_NAME}_error*.log" />
				<IfLastModified age="30d"/><!-- 保存时间限制-->
			</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</appenders>
</configuration>