<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.news.web.mapper.ArticlAnnexMapper">
  <resultMap id="BaseResultMap" type="zy.news.web.bean.ArticlAnnex">
    <id column="articleid" jdbcType="BIGINT" property="articleid" />
    <id column="fid" jdbcType="BIGINT" property="fid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_articleannex
    where articleid = #{articleid,jdbcType=BIGINT}
      and fid = #{fid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zy.news.web.bean.ArticlAnnex">
    insert into t_articleannex (articleid, fid)
    values (#{articleid,jdbcType=BIGINT}, #{fid,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select articleid, fid
    from t_articleannex
  </select>
</mapper>