<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.news.web.mapper.NewsMapper">
    <resultMap id="BaseResultMap" type="zy.news.web.bean.News">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="imageid" jdbcType="BIGINT" property="imageid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="ntid" jdbcType="BIGINT" property="ntid"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="publishdate" jdbcType="TIMESTAMP" property="publishdate"/>
        <result column="reviewstatus" jdbcType="TINYINT" property="reviewstatus"/>
        <result column="reviewer" jdbcType="VARCHAR" property="reviewer"/>
        <result column="reviewdate" jdbcType="TIMESTAMP" property="reviewdate"/>
        <result column="reviewComment" jdbcType="VARCHAR" property="reviewcomment"/>
        <result column="pageview" jdbcType="BIGINT" property="pageview"/>
        <result column="content" jdbcType="LONGVARBINARY" property="content"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_news
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="zy.news.web.bean.News">
    insert into t_news (id, imageid, title, 
      ntid, author, publishdate, 
      reviewstatus, reviewer, reviewdate, 
      pageview, content,summary)
    values (#{id,jdbcType=BIGINT}, #{imageid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{ntid,jdbcType=BIGINT}, #{author,jdbcType=VARCHAR}, #{publishdate,jdbcType=TIMESTAMP}, 
      #{reviewstatus,jdbcType=TINYINT}, #{reviewer,jdbcType=VARCHAR}, #{reviewdate,jdbcType=TIMESTAMP}, 
      #{pageview,jdbcType=BIGINT}, #{content,jdbcType=LONGVARBINARY},#{summary,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="zy.news.web.bean.News">
    update t_news
    set imageid = #{imageid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      ntid = #{ntid,jdbcType=BIGINT},
      author = #{author,jdbcType=VARCHAR},
      publishdate = #{publishdate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARBINARY}
    where reviewstatus=0 and id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, imageid, title, ntid, author, publishdate, reviewstatus, reviewer, reviewdate, 
    pageview, content
    from t_news
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAllNewsSimple" resultType="zy.news.web.bean.NewsSimple">
        SELECT
        tmp_news.*,
        file.path AS imageUrl
        FROM
        (
        SELECT
        id,
        imageid,
        title,
        news.ntid,
        newstype.newsTName,
        summary,
        author,
        publishdate,
        reviewstatus
        FROM
        t_news news
        LEFT JOIN t_newstype newstype ON news.ntid=newstype.ntid
        <choose>
            <when test="reviewStatus != 2">WHERE news.reviewstatus=#{reviewStatus,jdbcType=TINYINT}</when>
            <otherwise>ORDER BY reviewstatus ASC ,publishdate DESC</otherwise>
        </choose>
        ) tmp_news
        LEFT JOIN t_file file ON file.fid = tmp_news.imageid
    </select>
    <select id="exist" parameterType="zy.news.web.bean.News" resultType="java.lang.Integer">
    SELECT count(*) FROM t_news t
    WHERE t.title=#{title,jdbcType=VARCHAR}
    </select>
    <select id="selectNewsDetailByPrimaryKey" resultType="zy.news.web.bean.News">
    SELECT
	tmp_news.*,
	file.path AS imageUrl
    FROM
        (
        SELECT
            news.*,
            newstype.newsTName
        FROM
            t_news news
            LEFT JOIN t_newstype newstype ON news.ntid = newstype.ntid
        WHERE
            news.id = #{id,jdbcType=BIGINT}
        ) tmp_news
        LEFT JOIN t_file file ON file.fid = tmp_news.imageid
    </select>
    <update id="countViewByPrimaryKey">
        UPDATE t_news
        SET pageview = pageview + 1
        WHERE
            id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateReviewInfo" parameterType="zy.news.web.ui.result.ReviewInfo">
        UPDATE t_news
        SET reviewstatus = #{reviewstatus,jdbcType=TINYINT},
        reviewer = #{reviewer,jdbcType=VARCHAR},
        reviewdate = #{reviewdate,jdbcType=TIMESTAMP}
        <if test="reviewComment != null and reviewComment !=''">
            ,reviewComment = #{reviewComment,jdbcType=VARCHAR}
        </if>
        WHERE
        reviewstatus=0 and
        id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectReviewInfoByPrimaryKey" resultType="zy.news.web.ui.result.ReviewInfo">
        select id,reviewstatus,reviewer,reviewdate
        ,reviewComment
        from t_news
        where id=#{id,jdbcType=BIGINT}
    </select>
</mapper>