<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.news.web.mapper.OrgTrainMapper">
    <resultMap id="BaseResultMap" type="zy.news.web.bean.OrgTrain">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="publishdate" jdbcType="TIMESTAMP" property="publishdate"/>
        <result column="content" jdbcType="LONGVARBINARY" property="content"/>
        <result column="pageview" jdbcType="BIGINT" property="pageview"/>
    </resultMap>
    <resultMap id="TextMap" type="zy.news.web.bean.ContentBase">
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_orgtrain
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="zy.news.web.bean.OrgTrain">
    insert into t_orgtrain (id, title, author, publishdate,summary,content,pageview)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},#{author,jdbcType=VARCHAR},
    #{publishdate,jdbcType=TIMESTAMP}, #{summary,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARBINARY},#{pageview,jdbcType=BIGINT})
  </insert>
    <update id="updateByPrimaryKey" parameterType="zy.news.web.bean.OrgTrain">
    update t_orgtrain
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      publishdate = #{publishdate,jdbcType=TIMESTAMP},
      summary= #{summary,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, title, author, publishdate,pageview,
        (SELECT CONCAT(id,'|',title) FROM t_orgtrain WHERE  publishdate > orgtrain.publishdate ORDER BY
        publishdate DESC LIMIT 1) as `front`,
        (SELECT CONCAT(id,'|',title) FROM t_orgtrain WHERE  publishdate <![CDATA[<]]> orgtrain.publishdate ORDER BY
        publishdate DESC LIMIT 1) as `next`
    from t_orgtrain orgtrain
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultType="zy.news.web.bean.OrgTrain">
    select id, title,  author, publishdate,pageview
    from t_orgtrain
    order by publishdate desc
  </select>
    <select id="exist" parameterType="zy.news.web.bean.OrgTrain" resultType="java.lang.Integer">
    SELECT count(*) FROM t_orgtrain t
    WHERE t.title=#{title,jdbcType=VARCHAR}
    </select>
    <select id="selectRecordWithOutBlobByPrimaryKey" resultType="zy.news.web.bean.OrgTrain">
    select id, title,
    from t_orgtrain
    where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectContenBlobByPrimaryKey" resultMap="TextMap">
        SELECT content FROM t_orgtrain
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <update id="countViewByPrimaryKey">
        UPDATE t_orgtrain
        SET pageview = pageview + 1
        WHERE
            id = #{id,jdbcType=BIGINT}
    </update>
</mapper>