<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.news.web.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="zy.news.web.bean.Project">
    <id column="contractnum" jdbcType="VARCHAR" property="contractnum" />
    <id column="projectnum" jdbcType="VARCHAR" property="projectnum" />
    <result column="projecttoken" jdbcType="VARCHAR" property="projecttoken" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="planstart" jdbcType="TIMESTAMP" property="planstart" />
    <result column="planstop" jdbcType="TIMESTAMP" property="planstop" />
    <result column="reallycomplete" jdbcType="VARCHAR" property="reallycomplete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_project
    where contractnum = #{contractnum,jdbcType=VARCHAR}
      and projectnum = #{projectnum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="zy.news.web.bean.Project">
    insert into t_project (contractnum, projectnum, projecttoken, 
      `status`, planstart, planstop, 
      reallycomplete)
    values (#{contractnum,jdbcType=VARCHAR}, #{projectnum,jdbcType=VARCHAR}, #{projecttoken,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{planstart,jdbcType=TIMESTAMP}, #{planstop,jdbcType=TIMESTAMP}, 
      #{reallycomplete,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="zy.news.web.bean.Project">
    update t_project
    set projecttoken = #{projecttoken,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      planstart = #{planstart,jdbcType=TIMESTAMP},
      planstop = #{planstop,jdbcType=TIMESTAMP},
      reallycomplete = #{reallycomplete,jdbcType=VARCHAR}
    where contractnum = #{contractnum,jdbcType=VARCHAR}
      and projectnum = #{projectnum,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select contractnum, projectnum, projecttoken, `status`, planstart, planstop, reallycomplete
    from t_project
    where contractnum = #{contractnum,jdbcType=VARCHAR}
      and projectnum = #{projectnum,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select contractnum, projectnum, projecttoken, `status`, planstart, planstop, reallycomplete
    from t_project
  </select>
</mapper>