<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.news.web.mapper.SettingsMapper">
    <!--新闻-->
    <select id="newsTypeCount" resultType="java.lang.Integer">
        select count(*) from t_newstype
        where newsTName=#{name ,jdbcType=VARCHAR}
    </select>
    <select id="selectNewsType" resultType="zy.news.web.bean.NewsType">
        select * from t_newstype
        where ntid=#{ntid,jdbcType=BIGINT}
    </select>
    <select id="addNewsType">
        insert into t_newstype(ntid,newsTName)
        values(#{ntid,jdbcType=BIGINT},#{newsTName ,jdbcType=VARCHAR})
    </select>
    <update id="updateNewsType">
        update t_newstype set newsTName=#{newsTName ,jdbcType=VARCHAR}
        where ntid=#{ntid,jdbcType=BIGINT}
    </update>
    <select id="selectAllNewsType" resultType="zy.news.web.bean.NewsType">
        select * from t_newstype
    </select>
    <!--通知-->
    <select id="noticeTypeCount" resultType="java.lang.Integer">
        select count(*) from t_noticeType
        where newsTName=#{name ,jdbcType=VARCHAR}
    </select>
    <select id="selectNoticeType" resultType="zy.news.web.bean.NoticeType">
        select * from t_NoticeType
        where ntid=#{ntid,jdbcType=BIGINT}
    </select>
    <select id="addNoticeType">
        insert into t_NoticeType(ntid,noticeTName)
        values(#{ntid,jdbcType=BIGINT},#{noticeTName ,jdbcType=VARCHAR})
    </select>
    <update id="updateNoticeType">
        update t_NoticeType set noticeTName=#{noticeTName ,jdbcType=VARCHAR}
        where ntid=#{ntid,jdbcType=BIGINT}
    </update>
    <select id="selectAllNoticeType" resultType="zy.news.web.bean.NoticeType">
        select * from t_NoticeType
    </select>
    <!--部门-->
    <select id="selectDepartMents" resultType="zy.news.web.bean.DepartMent">
        select * from t_sys_dept;
    </select>

    <select id="getSysOverview" resultType="zy.news.web.ui.result.ArticleCategory">
    SELECT 0 as articletype,COUNT(id) as `count` from t_news
     UNION ALL
     SELECT 1 as articletype, COUNT(id) as `count` from t_notice
     UNION ALL
     SELECT 2 as articletype, COUNT(id) as `count` from t_honour
     UNION ALL
     SELECT 3 as articletype,COUNT(id) as `count`  from t_quality
     UNION ALL
     SELECT 4 as articletype, COUNT(id) as `count` from t_regulations
     UNION ALL
     SELECT 5 as articletype, COUNT(id) as `count` from t_orgtrain
     UNION ALL
     SELECT 6 as articletype,COUNT(id) as `count` from t_knowledgeshare
    </select>
    <select id="getToDolist" parameterType="zy.news.web.ui.param.RoleHas" resultType="zy.news.web.ui.result.ToDoItem">
        SELECT * FROM(
        SELECT NULL as articletype,NULL as `count`
         <if test="newsRole or @zy.news.web.bean.SysUser@ADMIN_NAME ==  username">
             UNION ALL
             SELECT 0 as articletype,COUNT(id) as `count` from t_news WHERE reviewstatus=0
         </if>
        <if test="noticeRole or @zy.news.web.bean.SysUser@ADMIN_NAME ==  username">
            UNION ALL
            SELECT 1 as articletype, COUNT(id) as `count` from t_notice WHERE reviewstatus=0
        </if>
        <if test="shareRole or @zy.news.web.bean.SysUser@ADMIN_NAME ==  username">
             UNION ALL
             SELECT 6 as articletype,COUNT(id) as `count` from t_knowledgeshare WHERE reviewstatus=0
        </if>
        <if test="comentRole or @zy.news.web.bean.SysUser@ADMIN_NAME ==  username">
            UNION ALL
            SELECT 7 as articletype,COUNT(id) as `count` from t_comment WHERE reviewstatus=0
        </if>
        )tmp_todo_t
        WHERE articletype  is NOT NULL
    </select>
    <select id="selectUserRoleList" resultType="zy.news.web.ui.param.RoleHas">
        SELECT
            (
            SELECT
                count( roleid )
            FROM
                t_sys_roleusers ru
            WHERE
                ru.userid = #{userid,jdbcType=BIGINT}
                AND roleid IN ( SELECT roleid FROM t_sys_roleperms rp WHERE rp.permissionid = 37 )
            ) AS newsRole,
            (
            SELECT
                count( roleid )
            FROM
                t_sys_roleusers ru
            WHERE
                ru.userid = #{userid,jdbcType=BIGINT}
                AND roleid IN ( SELECT roleid FROM t_sys_roleperms rp WHERE rp.permissionid = 52 )
            ) AS noticeRole,
            (
            SELECT
                count( roleid )
            FROM
                t_sys_roleusers ru
            WHERE
                ru.userid = #{userid,jdbcType=BIGINT}
                AND roleid IN ( SELECT roleid FROM t_sys_roleperms rp WHERE rp.permissionid = 64 )
            ) AS shareRole,
            (
            SELECT
                count( roleid )
            FROM
                t_sys_roleusers ru
            WHERE
                ru.userid = #{userid,jdbcType=BIGINT}
                AND roleid IN ( SELECT roleid FROM t_sys_roleperms rp WHERE rp.permissionid = 71 )
            ) AS comentRole
        FROM
        DUAL
    </select>
</mapper>