<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.news.web.mapper.SysModuleMapper">
    <resultMap id="BaseResultMap" type="zy.news.web.bean.SysModule">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="modulename" jdbcType="VARCHAR" property="modulename"/>
        <result column="parent" jdbcType="BIGINT" property="parent"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_module
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="zy.news.web.bean.SysModule">
    insert into t_sys_module (id, modulename, parent, 
      updatetime)
    values (#{id,jdbcType=BIGINT}, #{modulename,jdbcType=VARCHAR}, #{parent,jdbcType=BIGINT}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="zy.news.web.bean.SysModule">
    update t_sys_module
    set modulename = #{modulename,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=BIGINT},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, modulename, parent, updatetime
    from t_sys_module
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, modulename, parent, updatetime
    from t_sys_module
  </select>
    <select id="getChildModules" resultType="zy.news.web.bean.SysModule">
        select sm.*
        ,(SELECT count(*) from T_SYS_MODULE where parent=sm.id) as haschild
        from T_SYS_MODULE sm
        where
        <choose>
            <when test="moduleid ==null">parent=0</when>
            <otherwise>
                parent=#{moduleid,jdbcType=BIGINT}
            </otherwise>
        </choose>
    </select>
    <select id="getUserEnableModuleIds" resultType="java.lang.Long">
     SELECT DISTINCT
            moduleid
            FROM
            T_SYS_PERMISSION sp
            WHERE
            sp.mustneed = 0
            AND sp.id IN (
            SELECT
            rp.permissionid
            FROM
            t_sys_roleperms rp
            WHERE
            rp.roleid IN ( SELECT r.roleid FROM t_sys_roleusers r WHERE r.userid = #{userid,jdbcType=BIGINT} ))
    </select>
    <select id="getParentModuleIdsBySonIds" resultType="java.lang.Long" parameterType="java.util.ArrayList">
        select DISTINCT parent from T_SYS_MODULE where id in
        <foreach collection="psIds" open="(" item="moduleid" close=")" separator=",">
            #{moduleid,jdbcType=BIGINT}
        </foreach>
    </select>
    <select id="getModuleIdsByParent" resultType="java.lang.Long">
        select id from t_sys_module
        where parent=#{moduleid,jdbcType=BIGINT}
        and id in
        <foreach collection="psIds" open="(" item="mid" close=")" separator=",">
            #{mid,jdbcType=BIGINT}
        </foreach>
    </select>
    <select id="getUserEnableModules" resultType="zy.news.web.bean.SysModule"
            parameterType="java.util.ArrayList">
        select sm.*
        ,(SELECT count(*) from T_SYS_MODULE where parent=sm.id) as haschild
        from T_SYS_MODULE sm
        where id in
        <foreach collection="psIds" open="(" item="mid" close=")" separator=",">
            #{mid,jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>