<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.news.web.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="zy.news.web.bean.SysPermission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="moduleid" jdbcType="BIGINT" property="moduleid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="mustneed" jdbcType="TINYINT" property="mustneed" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zy.news.web.bean.SysPermission">
    insert into t_sys_permission (id, `name`, moduleid, 
      url, `type`, mustneed
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{moduleid,jdbcType=BIGINT}, 
      #{url,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{mustneed,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="zy.news.web.bean.SysPermission">
    update t_sys_permission
    set `name` = #{name,jdbcType=VARCHAR},
      moduleid = #{moduleid,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      mustneed = #{mustneed,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `name`, moduleid, url, `type`, mustneed
    from t_sys_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, moduleid, url, `type`, mustneed
    from t_sys_permission
  </select>
  <select id="getPermissonsByRoleModule" resultMap="BaseResultMap">
    SELECT tcsp.id,tcsp.name,tcsp.url,tcsp.moduleid,tsm.moduleName,tcsp.type
    FROM T_SYS_PERMISSION tcsp
    LEFT JOIN T_SYS_MODULE tsm ON tcsp.moduleid = tsm.id
    WHERE 1=1
    <if test="null != mNam and '' != mNam">
      AND tsm.moduleName=#{mNam,jdbcType=VARCHAR}
    </if>
    <if test="'@zy.news.web.bean.SysUser@ADMIN_ROLE' !=  roleName">
      AND tcsp.id IN
      (SELECT rp.permissionid
      FROM T_SYS_ROLEPERMS rp
      LEFT JOIN T_SYS_ROLE cs ON rp.roleid=cs.id
      WHERE cs.role=#{roleName,jdbcType=VARCHAR})
    </if>
    or tcsp.mustneed=1
  </select>
  <select id="getHasBindPermsByRoleid" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT p.*,(select moduleName from T_SYS_MODULE where id=p.moduleid) as modulename
        From T_SYS_PERMISSION p
        WHERE p.id  in
        (SELECT  rp.permissionid FROM T_SYS_ROLEPERMS rp
        WHERE rp.roleid =#{roleid,jdbcType=BIGINT}) or p.mustneed=1
        order by modulename
  </select>
  <select id="getNoBindLists" parameterType="java.lang.Long"
          resultMap="BaseResultMap">
       SELECT p.*,tcs.modulename From T_SYS_PERMISSION p
        LEFT JOIN T_SYS_MODULE tcs on p.moduleid=tcs.id
        WHERE p.id not in
        (SELECT  rp.permissionid FROM T_SYS_ROLEPERMS rp
        WHERE rp.roleid =#{roleid,jdbcType=BIGINT})
        ORDER BY mustneed DESC, url ASC ,moduleid ASC
  </select>
  <select id="getUrlLists" parameterType="java.lang.String"
          resultType="java.lang.String">
    SELECT distinct url From T_SYS_PERMISSION p
    <if test="fastSearch!=null and fastSearch != ''">
      WHERE p.url like #{fastSearch,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>