<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="javaFileEncoding" value="utf-8"/>

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        

        <!-- 注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/><!-- 是否取消注释 -->
            <property name="suppressDate" value="true"/> <!-- 是否生成注释代时间戳-->
        </commentGenerator>
        <!-- 配置数据源 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/news?serverTimezone=UTC"
                        userId="news"
                        password="news2020">
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>
        <!-- 类型转换 -->
        <javaTypeResolver>
            <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 配置生成的javabean所存放的路径和包（使用绝对路径） -->
        <javaModelGenerator targetPackage="zy.news.web.bean" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 配置生成的**Mapper.xml文件所存放的路径和包（使用绝对路径） -->
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="src/main/resources/mysql">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- 配置生成的**Mapper.java接口文件所存放的路径和包（使用绝对路径） -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="zy.news.web.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- 指定我们要操作的表明和生成的javabean类名 -->
<!--       <table tableName="t_sys_user" domainObjectName="SysUser"/>
        <table tableName="t_sys_module" domainObjectName="SysModule"/>
        <table tableName="t_sys_permission" domainObjectName="SysPermission"/>
        <table tableName="t_sys_role" domainObjectName="SysRole"/>-->
  <!--     <table tableName="t_file" domainObjectName="SysFile"/>
        <table tableName="t_honour" domainObjectName="Honour"/>
        <table tableName="t_knowledgeshare" domainObjectName="KnowledgeShare"/>
        <table tableName="t_news" domainObjectName="News"/>
        <table tableName="t_project" domainObjectName="Project"/>
        <table tableName="t_notice" domainObjectName="Notice"/>
        <table tableName="t_quality" domainObjectName="Quality"/>
        <table tableName="t_regulations" domainObjectName="Regulations"/>
        <table tableName="t_train" domainObjectName="OrgTrain"/>
        <table tableName="t_articleannex" domainObjectName="ArticlAnnex"/>
        <table tableName="t_sys_dept" domainObjectName="DepartMent"/>-->
        <table tableName="t_orgtrain" domainObjectName="OrgTrain"/>
    </context>
</generatorConfiguration>
